/*
  WORD
*/
.arword {
  padding: 0;
  font-size: 30px;
  list-style: none;
  margin-top: 0;
  text-align: right;
  margin-bottom: 0;
}
.arword__prefix,
.arword__suffix {
  color: #f44336;
}
/*
SENTENCE
*/
.arsent {
  /* justify-content: flex-start; */
  display: flex !important;
  flex-direction: row;
  align-items: center;
  /* direction: rtl; */
  margin: 0px;
  margin-bottom: 27px;
  flex-wrap: wrap;
  /*ORIGINAL*/
  line-height: 1.2;
  font-size: 27px;
}
.arsent li {
  list-style: none;
}
li.arsent__original {
  line-height: 1.3;
  font-size: 27px;
}

.arsent__translate {
  font-size: 14px;
}

li.arsent__original + li.arsent__translate {
  padding-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

/*
принудительное присваивание 
так как тема меняет на противоположные
*/
.ar {
  direction: rtl;
}

.not-ar {
  direction: ltr;
}

/*
temp
*/
h1.title {
  margin-bottom: 52px;
  font-size: 50px;
  direction: rtl;
}
h2.title.h2ar {
  margin-bottom: 50px;
  margin-top: 30px;
}
.desc {
  margin-bottom: 40px;
  direction: ltr;
  text-align: right;
}
/* .MuiCardContent-root {
  direction: rtl;
} */
span.desc__ar {
  font-weight: bold;
}
span.contrast {
  color: #f44336;
}
