button:focus, textarea:focus {
  outline: none;
}
li {
  list-style: none;
}

/* body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
h2 {
  font-size: 50px;
  direction: rtl;
} */

/**/
/* h1.MuiTypography-root {
  font-size: 40px;
  line-height: 48px;
} */